<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:title" content="开玩吧(ノﾟ∀ﾟ)ノ - 在线协作式GB/GBC友尽掀桌模拟器"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content={{{siteshot}}}/>
    <meta property="og:url" content={{{siteurl}}}/>
    <meta property="og:site-name" content="开玩吧(ノﾟ∀ﾟ)ノ"/>
    <title>开玩吧(ノﾟ∀ﾟ)ノ ┴─┴ 在线协作式GB友尽掀桌模拟器</title>
    <link rel="stylesheet" href="/fonts.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/app.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body class="danmu">
  <!--body class="danmu"-->
    <div id="game">
      <img alt="game" src="data:image/png;base64,{{img}}" />
      <i title="出现这个图标时，你可以用键盘控制游戏！" class="keyboard icon-keyboard-1">&nbsp;</i>
      <span class="count-wrapper">
        Online: <span class="count">{{connections}}</span>
        &nbsp;&nbsp;FPS: <span class="count" id="fps"></span>
      </span>
      <span id="move-wrapper" style="visibility: hidden;">
      </span>
      <table id="mov-keys" class="unjoined screen-keys">
        <tr>
          <td class="empty-cell"></td>
          <td id="up">↑</td>
          <td class="empty-cell"></td>
        </tr>
        <tr>
          <td id="left">←</td>
          <td id="down">↓</td>
          <td id="right">→</td>
        </tr>
      </table>
      <table id="keys" class="unjoined screen-keys">
        <tr>
          <td id="start">start</td>
          <td id="select">select</td>
        </tr>
        <tr>
          <td id="b" class="round">B</td>
          <td id="a" class="round">A</td>
        </tr>
        </table>
    </div>
    <div id="chat">
      <div class="connecting messages">
      </div>
      <button type="button" id="danmu-trig">&lt;&lt;</button>
      <div class="input connecting">
        <form action="">
            <!-- some trigger to danmu mode-->
          <input type="text" disabled maxlength="140" placeholder="正在链接弹幕池..." />
        </form>
      </div>
    </div>

    <script>
      config = {};
      config.io = '{{{iourl}}}';
    </script>
    <script src="/jquery.min.js"></script>
    <script src="/jquery.danmu.min.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
